bin/
obj/
logs/

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
.vs/
.vscode/

Installer/bin/
Installer/obj/

Installer/Payload/*
!Installer/Payload/.gitkeep

*.log

Thumbs.db

publish/
release/
*.zip
/*.exe
/*.pdb